@model IEnumerable<FeebackApplication.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Feedbacks</h2>
<div id="example">
    <div id="grid"></div>
    <div id="example">

        <div id="window">
            <div style="text-align: center;">
                <p id="confirmationText" style="display: none; font-size: 13px;">Are you sure you want to delete this feedback?</p>
                <button id="confirmYes" style="display: none; padding: 5px 30px; font-size: 13px; ">Yes</button>
                <button id="confirmNo" style="display: none; padding: 5px 30px; font-size:13px;">No</button>


            </div>

        </div>

        <script>
        $(document).ready(function () {

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "../Feedback/GetFeedback",
                            type: "POST",
                            dataType: "json"
                        },
                    },
                    height: 550,
                    scrollable: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        input: true,
                        numeric: false
                    },
                  
                },

                

              
                columns: [

                    { field: "Creationdate", title: "Creation date", template: "#= formatDate(Creationdate) #" },
                    { field: "Status.Name", title: "Statue" },
                  
                    {
                        template: "<table style='border:none !important'>" +
                            "<tr style='border:none !important'>" +
                            "<td style='border:none !important;padding:0;'><i class='fa fa-trash-alt fa-lg icon_grid' title='Delete' onclick='deletefiled(#:Id#)'></i></td>" +
                            "<td style='border:none !important;padding:0;'><span style='padding: 0 5px;'>  |  </span></td>" +
                            "<td style='border:none !important;padding:0;'><i class='fa fa-edit fa-lg icon_grid' title='Edit' onclick='editfield(#:Id#)'></i></td>" +
                            "</tr>" +
                            "</table>",
                        title: "Actions",
                        width: 170
                         }
                ],
                 editable: "inline",

            });

        });
            function formatDate(date) {
                if (date) {
                    // Convert the JSON date format "/Date(1689589420433)/" to a JavaScript Date object
                    var parsedDate = new Date(parseInt(date.substr(6)));
                    // Customize the date format as needed
                    var formattedDate = kendo.toString(parsedDate, "yyyy-MM-dd HH:mm");
                    return formattedDate;
                } else {
                    return ""; // Return an empty string for null or undefined dates
                }
            }





         

 function deletefiled(Id) {
    var window = $("#window").data("kendoWindow");

    // Show the confirmation message and buttons
    $("#confirmationText").show();
    $("#confirmYes").show();
    $("#confirmNo").show();
    $("#loadingMessage").hide();

    // Set up the click event for "Yes" button
    $("#confirmYes").on("click", function() {
        var deleteUrl = "@Url.Action("DestroyFeedback", "Feedback")";
        $.ajax({
            type: "POST",
            url: deleteUrl,
            data: { id: Id },
            success: successFunc,
            error: errorFunc
        });

        // Close the window
        window.close();
    });

    // Set up the click event for "No" button
    $("#confirmNo").on("click", function() {
        // Close the window without performing the delete operation
        window.close();
    });

    // Show the window
    window.center().open();
}

function successFunc(data, status) {
    alert('Feedback deleted successfully');
    var grid = $("#grid").data("kendoGrid");
    grid.dataSource.read();
}

function errorFunc() {
    alert('error');
}





            function editfield(id) {
                let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
width=1600,height=800,left=100,top=100`;
                let newWindow = open('../Feedback/Details?ID=' + id, 'example',params);
                newWindow.focus();
            }
        $("#window").kendoWindow({
            visible: false,
            width: "600px",
            title: " "
        });
        </script>
    </div>



</div>
<style>
    .k-grid-header .k-header {
        height: 30px;
        padding: 0;
    }

    .k-grid tbody tr {
        line-height: 30px;
    }

    .k-grid tbody td {
        padding: 0;
    }
    #confirmYes {
        background-color: #007bff; 
        color: white; 
    }
    </style>


